<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page | Admin</title>
      <link rel="stylesheet" href="/admin/pageError.css">
      
</head>
<body>
    <div class="error-box">
        <h1>Error Page Admin</h1>
        <p>An error occurred.</p>
        <a href="/admin/dashboard" class="home-link">Go to Home Page</a>
    </div>
</body>
</html>